[submodule "games/g_trix"]
	path = games/g_trix
	url = https://github.com/Merit-Megatouch/g_trix.git
[submodule "games/g_word_dojo_2"]
	path = games/g_word_dojo_2
	url = https://github.com/Merit-Megatouch/g_word_dojo_2.git
[submodule "games/g_boxxi_template"]
	path = games/g_boxxi_template
	url = https://github.com/Merit-Megatouch/g_boxxi_template.git
[submodule "games/g_tri_towers_2"]
	path = games/g_tri_towers_2
	url = https://github.com/Merit-Megatouch/g_tri_towers_2.git
[submodule "games/fourplay"]
	path = games/fourplay
	url = https://github.com/Merit-Megatouch/fourplay.git
